<!-- START row -->
<div class="row" data-ng-controller="AuthenticationController">
    <div class="col-lg-4 col-lg-offset-4">
        <!-- Brand -->
        <div class="text-center" style="margin-bottom:40px;">
            <span class="logo-figure inverse"></span>
            <span class="logo-text inverse"></span>
            <h5 class="semibold text-muted mt-5">Login to your account.</h5>
        </div>
        <!--/ Brand -->

        <hr><!-- horizontal line -->

        <!-- Login form -->
        <form data-ng-submit="signin()" class="panel" name="form-login" style="position: relative;border-width: 1px;border-color: #cfd9db;border-bottom-width: 2px;border-bottom-color: #c0cdd1;border-radius: 0px;-webkit-box-shadow: none;box-shadow: none;">
            <div class="panel-body">
                <div class="form-group">
                    <div class="form-stack has-icon">
                        <input data-ng-model="credentials.username" type="text" class="form-control input-lg" placeholder="Username" required>
                        <i class="ico-user2 form-control-icon"></i>
                    </div>
                    <div class="form-stack has-icon">
                        <input data-ng-model="credentials.password" name="password" type="password" class="form-control input-lg" placeholder="Password" required>
                        <i class="ico-lock2 form-control-icon"></i>
                    </div>
                </div>

                <!-- Error container -->
                <div id="error-container"class="mb15"></div>
                <!--/ Error container -->

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="checkbox custom-checkbox">  
                                <input type="checkbox" name="remember" id="remember" value="1">  
                                <label for="remember">&nbsp;&nbsp;Remember me</label>   
                            </div>
                        </div>
                        <div class="col-xs-6 text-right checkbox">
                            <a href="/#!/password/forgot">Lost password?</a>
                        </div>
                    </div>
                </div>
                <div class="form-group nm">
                    <button type="submit" class="btn btn-block btn-success"><span class="semibold">Sign In</span></button>
                </div>
            </div>
        </form>
        <!-- Login form -->

        <hr><!-- horizontal line -->
    </div>
</div>
<!--/ END row -->