<!-- START row -->
<div class="row" data-ng-controller="PasswordController">
    <div class="col-lg-4 col-lg-offset-4">
        <!-- Brand -->
        <div class="text-center" style="margin-bottom:40px;">
            <span class="logo-figure inverse"></span>
            <span class="logo-text inverse"></span>
            <h5 class="semibold text-muted mt-5">Restore your password.</h5>
            <p class="small text-center">Enter your account username.</p>
        </div>
        <!--/ Brand -->

        <hr><!-- horizontal line -->

        <!-- Login form -->
        <form data-ng-submit="askForPasswordReset()" class="panel" name="form-login" style="position: relative;border-width: 1px;border-color: #cfd9db;border-bottom-width: 2px;border-bottom-color: #c0cdd1;border-radius: 0px;-webkit-box-shadow: none;box-shadow: none;">
            <div class="panel-body">
                <div class="form-group">
                    <div class="form-stack has-icon">
                        <input data-ng-model="credentials.email" name="username" type="email" class="form-control input-lg" placeholder="Email" required>
                        <i class="ico-user2 form-control-icon"></i>
                    </div>
                </div>
                <div class="form-group nm">
                    <button type="submit" class="btn btn-block btn-success"><span class="semibold">Submit</span></button>
                </div>
                <br>
                <div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
            </div>
        </form>
        <!-- Login form -->

        <hr><!-- horizontal line -->
    </div>
</div>
<!--/ END row -->