<section data-ng-controller="ServiceRecordsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Service records</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="serviceRecord in serviceRecords" data-ng-href="#!/service-records/{{serviceRecord._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="serviceRecord.created | date:'medium'"></span>
				by
				<span data-ng-bind="serviceRecord.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="serviceRecord.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!serviceRecords.$resolved || serviceRecords.length">
    	No Service records yet, why don't you <a href="/#!/service-records/create">create one</a>?
    </div>
</section>