<section data-ng-controller="DependencesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Dependences</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="dependence in dependences" data-ng-href="#!/dependences/{{dependence._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="dependence.created | date:'medium'"></span>
				by
				<span data-ng-bind="dependence.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="dependence.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!dependences.$resolved || dependences.length">
    	No Dependences yet, why don't you <a href="/#!/dependences/create">create one</a>?
    </div>
</section>